.home-cover-image{
    width:100%;
    height: 520px;
    background-image: url("../images/cover/cover1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}