.cover-image{
    width:100%;
    height: 690px;
    background-image: url("../images/background/IMG_5296.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text-nav a{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 1.7em;
    font-weight: 500;
}
.text-btn a:hover{
    font-family: 'Quicksand', sans-serif;
    color: #000;
}

.navbar-bgcolor{
    background-image: linear-gradient(#F08080,#FFA07A);
}

.icon-main{
   margin-top: 7%;
}

.text-logo-main{
    font-family: 'Quicksand', sans-serif;
    font-size: 5em;
    margin-top: -2%;
    font-weight: 700;
}

.text-easy{
    color:rgb(255, 255, 255);
    font-family: 'Yantramanav', sans-serif;
    font-size: 2em;
    transition: 0.8;
    text-shadow: 1px 1px 1px rgb(65, 65, 65),
                 3px 3px 5px rgb(63, 63, 63);
}

.text-job{
    color: #196985;
}

.btn-size-pink{
    width: 100%;
    /*background: linear-gradient(to bottom, #F08080 0%, #FFA07A 100%);*/
    background-color: rgba(0, 0, 0, 0.836);
    color: #fff;
    margin-bottom: 5%;
}

.btn-size-blue{
    width: 100%;
    /*background: linear-gradient(to bottom, #F08080 0%, #FFA07A 100%);*/
    background-color: #146a798c;
    color: #fff;
    margin-bottom: 5%;
}

.btn-size-bluefacebook{
    width: 100%;
    /*background: linear-gradient(to bottom, #F08080 0%, #FFA07A 100%);*/
    background-color: #3B5998;
    color: #fff;
    margin-bottom: 5%;
}

.btn-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
}

.btn-login{
    background: linear-gradient(to bottom, #F08080 0%, #FFA07A 100%);
    color: #fff;
    text-align: right;
}

.form-border{
    border-radius: 25px;
    border: 2px solid black;
    background-color: rgba(0,0,0 ,0.2);
}

.text-slogan-main{
    font-family: 'Kanit', sans-serif;
    font-size: 1em;
    margin-top: -4%;
    font-weight: 300;
}

.button-main-top{
    margin-top: 2%;
}

/* section-register */
.section-register > .top {
    margin-top: 5%;
}

.vl {
    border-left: 1px solid rgb(80, 80, 80);
    height: 500px;
}

.size-img-register{
    width: 95%;

}

.form-register-top{
    margin-top: 5%;
}

.text-topic-register{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.text-input-register{
    font-family: 'Kanit', sans-serif;
    font-size: 1em;
    font-weight: 300;
}

.top-regis{
    margin-top: 3%;
}

.btn-size-regis{
    width: 100%;
    background: linear-gradient(to bottom, #F08080 0%, #FFA07A 100%);
    color: #fff;
    margin-bottom: 7%;
}

.cover-profile{
  width:100%;
  height: 500px;
  z-index: 9;
  background-size: cover;
  position: relative;
  object-fit: cover;
}

/*profile*/
.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    margin-top: -100px;
}

.fb-image-profile
{
    margin: -800px 0px 0px 0px;
    z-index: 9;
    width: 100%;
}

@media (max-width:768px)
{
}

.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 100%;
}

.text-name-card{
    font-family: 'Kanit', sans-serif;
}

.text-topic-card{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    color: #1a435d;
    font-size: 3em;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

/*้ section home */
.home-cover-image{
    width:100%;
    height: 450px;
    background-image: url("../images/cover/cover1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.button-top{
    margin-top: 35%;;
}

.btn-width-default{
    width: 100%;
    background-color: #ffffff;
    border : 2px solid #ffffff;
}

.btn-text-default{
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-weight: 500;
}

.card-top-search{
    width: 100%;
    height: 220px;
    margin-top: 11%;
}

.home-menu-top{
    margin-top: 5%;
}

.text-menu{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
}

.text-topic-auction{
    font-family: 'Kanit', sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    color: rgb(5, 55, 95);
}

.top-auction{
    margin-top: 5%;
}

.top-auction-line{
    margin-top: -4%;
}

.text-name-auction{
    font-family: 'Quicksand', sans-serif;
    color: #075386;
    font-size: 1.5em;
    margin-top: 3%;
}

.text-detail-auction{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin-top: -3%;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(140, 171, 177);
    text-align: center;
    height: 90px;
    margin-bottom: -2%; 
}

.text-footer{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

.text-footer-krixxi{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.bottom{
    margin-bottom: 5%;
}

.card-auction {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
}

/* On mouse-over, add a deeper shadow */
.card-auction:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container-auction {
    padding: 2px 16px;
}

.timer{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: -7%;
    margin-bottom: -1%;
    color: red;
}

.text-detail-price{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-top: -3%;
    font-weight: 700;
    
}

.text-btn-auction{
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    width: 100%;
}

.btn-width-auction{
    width: 100%;
    background-color: #c8eef0;
    border : 2px solid #ffffff;
}

.text-menu-top{
    text-align: right;
}

.quadrat {
    width: 100px;
    height: 40px;
    -webkit-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Safari 4+ */
    -moz-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Fx 5+ */
    -o-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Opera 12+ */
    animation: NAME-YOUR-ANIMATION 1s infinite;  /* IE 10+, Fx 29+ */
    width: 100%;
    text-align: center;
  }
  
  @-webkit-keyframes NAME-YOUR-ANIMATION {
    0%, 100% {
      background-color: rgba(255, 0, 0, 0.199);      
    }
    50%, 100% {
      background-color: #ffffff;
    }
  }

  .btn-text-bidding{
    font-size: 1em;
    font-family: 'Kanit', sans-serif;
    color: black;
    font-weight: 300;
  }

    .btn-width-bidding{
        width: 100%;
        background-color: #c8eef0;
        border : 2px solid #c8eef0;
    }

    .btn-width-cancel-bidding{
        width: 100%;
        background-color: #b8b8b8;
        border : 2px solid #b8b8b8;
    }

    .text-bidding{
        font-family: 'Kanit';
    }

    .text-topic-bidding{
        font-family: 'Kanit';
        
    }

    .text-auction-detail{
        font-family: 'Kanit';
        font-weight: 300;
    }

    .text-bidding2{
        font-family: 'Kanit';
        font-size: 20px;
    }

    .color-name{
        color: #063a88;
    }

    .top1{
        margin-top: -6%;
    }